@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
.container {
  position: relative;
}
body {
  margin: 0px;
}
header {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.first-section {
  position: relative;

  color: white;
}
.bg-pattern-left-mobile {
  position: absolute;
  left: 1px;
  top: 1px;
}
.bg-pattern-intro-right-mobile {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 931px;
}
.first-section-header,
.second-section-header {
  font-family: "DM Serif Display", serif;
  font-size: 46px;
  font-weight: bold;
}
.first-section-body,
.second-section-header,
.second-section-body,
.lighting-icon,
.dollar-icon,
.people-first-icon {
  margin: 25px 0px;
}
.second-subsection,
.first-section,
button {
  background-color: hsl(256, 26%, 20%);
}
button {
  border: 1px solid white;
  padding: 10px 40px;
  color: white;
}
.second-section-line {
  width: 50%;
  margin: 40px auto;
}
.second-section,
.first-section {
  padding: 90px 30px;
  text-align: center;
}
.second-section-header {
  color: black;
}
.second-section-subheader {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  font-size: 25px;
}
li,
.second-section-body,
.first-section-body {
  font-family: "Karla", sans-serif;
  font-weight: 5800px;
  line-height: 1.5;
  color: hsl(216, 30%, 68%);
}
.second-subsection {
  color: white;
  padding: 100px 0px;
  margin: 80px 0px;
  position: relative;
}
.bg-pattern-how-we-work-mobile {
  position: absolute;
  top: 0px;
  right: 0px;
}
.second-subsection > div.first-section-header {
  margin-bottom: 50px;
}
.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 150px;
}
.bg-pattern-footer-mobile {
  position: absolute;
  top: -52px;
  left: -28px;
}
.logo {
  /* flex-basis: 100; */
  margin: 20px 0px;
  margin-left: 10px;
}
.all-icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 25px 0px;
}
hr {
  color: black;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0px;
  letter-spacing: 2px;
}
footer {
  text-align: center;
}

.bg-pattern-mobile-nav {
  position: absolute;
  top: 299px;
  left: 0px;
}
.first-header-section {
  display: flex;
  justify-content: space-between;
}
nav,
.hamburger {
  display: none;
}

@media screen and (max-width: 699px) {
  .bg-pattern-footer-desktop,
  .bg-pattern-how-we-work-desktop,
  .bg-pattern-intro-right-desktop,
  .image-intro-desktop,
  .bg-pattern-intro-left-desktop {
    display: none;
  }
  .hamburger {
    display: block;
  }
  nav {
    display: none;
  }

  nav.resp {
    background-color: hsl(256, 26%, 20%);
    height: 75vh;
    padding: 50px;
    display: block;
    overflow: hidden;
  }
  nav > ul > li > button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 70px;
  }

  nav > ul > li {
    color: white;
    text-align: center;
    margin: 40px 0px;
    font-size: 20px;
    position: relative;
  }
  .header-image > img {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "first-section"
      "second-section";
  }
  .second-subsection > div > button {
    position: relative;
    z-index: 2;
  }

  nav > ul > li > button:hover {
    color: white;
    background-color: hsl(256, 26%, 20%);
    cursor: pointer;
  }
  nav > ul > li:hover {
    color: black;
    cursor: pointer;
  }

  .bg-pattern-mobile-nav,
  .bg-pattern-intro-right-mobile,
  .bg-pattern-footer-mobile,
  .header-image,
  .hamburger,
  .bg-pattern-left-mobile {
    display: none;
  }
  .bg-pattern-intro-left-desktop {
    position: absolute;
    top: 600px;
    left: 0px;
    z-index: 1;
  }
  .top-header {
    grid-area: header;
    background-color: white;
    z-index: 1;
    justify-content: space-between;
    padding: 10px 50px;
  }
  header {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
  }
  h6 {
    margin: 0;
  }
  .top-header {
    display: flex;
  }
  .first-section {
    grid-area: first-section;
    margin-bottom: 150px;
  }
  .second-section {
    grid-area: second-section;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 45px;
  }
  nav {
    display: block;
  }
  nav > ul > li {
    display: inline;
    margin: auto 9px;
    font-weight: bold;
  }
  li > button {
    background: none;
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
  }
  .first-section {
    display: flex;
    flex-direction: row;
    padding: 150px 80px;
    position: relative;
  }
  .subsection-first-section {
    width: 36%;
    text-align: left;
  }
  .first-section-header {
    font-size: 80px;
    margin-top: 50px;
  }
  .image-intro-desktop,
  .bg-pattern-intro-right-desktop {
    position: absolute;
  }
  .bg-pattern-intro-right-desktop {
    top: -84px;
    right: 0px;
    /* z-index: -1; */
  }
  .image-intro-desktop {
    overflow: hidden;
    top: 28%;
    left: 54%;
    width: 46%;
    height: 100%;
  }
  .subsection-first-section > hr {
    width: 45%;
    margin: 0px;
  }
  .purple-line {
    margin-left: 0;
    margin-right: 0;
    color: black;
    width: 15%;
  }
  .purple-line > hr {
    width: 100%;
  }
  .first-subsection {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    font-size: 15px;
    width: 100%;
  }
  .first-subsection > div {
    flex-basis: 30%;
  }

  path:hover {
    fill: black;
    cursor: pointer;
  }
  .subsection-first-section > div > button {
    z-index: 2;
    position: relative;
  }
  .subsection-first-section > div > button:hover,
  .second-subsection > div > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    /* z-index: 1; */
  }
  .second-section-subheader {
    font-size: 18px;
  }
  .second-subsection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 20px;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  .second-subsection > div.first-section-header {
    width: 60%;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
  .bg-pattern-how-we-work-mobile {
    display: none;
  }
  footer {
    padding: 0px 50px;
    text-align: left;
    position: relative;
  }
  .third-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .all-icons {
    width: 20%;
  }
  .all-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 179px;
  }
  .bg-pattern-how-we-work-desktop {
    position: absolute;
    right: 0px;
    top: -2px;
    height: 100%;
  }
  .bg-pattern-footer-desktop {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  .second-section-body > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  .top-header {
    padding: 10px 200px;
  }
  .first-section {
    padding: 70px 200px;
  }
  .subsection-first-section {
    width: 44%;
  }
  .second-section {
    padding: 100px 200px;
  }
  .image-intro-desktop {
    top: 14%;
    left: 61%;
  }
  .second-subsection {
    padding: 0px 85px;
  }
  footer {
    padding: 0px 200px;
  }
  h6 {
    font-size: 90px;
  }
}
